
    <!doctype html>
    <html lang="en">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <title>Chat Web Application</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="form-validation.css" rel="stylesheet">
    </head>
    <body class="bg-light">
    <div class="container">
    <div class="py-5 text-center">
    <h2>Chat Application</h2>
    <p class="lead">Powered by Flask and Bootstrap.</p>
    </div>

    <div class="row">
    <div class="col order-md-1">
        <ul class="list-group">
            {% for post in posted_messages %}
            <li class="list-group-item"><b>{{ post['username'] }}</b><br> {{post['message']}} <br><small class="text-muted">{{ post['time'] }}</small> </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col order-md-1">
        <h4 class="mb-3">Your message to the world</h4>
        <form class="needs-validation" action="post_message" method="POST" novalidate>

        <div class="mb-3">
            <label for="username">Username</label>
            <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">@</span>
            </div>
            <input type="text" class="form-control" id="username" name="username" placeholder="Username" required>
            <div class="invalid-feedback" style="width: 100%;">
                Your username is required.
            </div>
            </div>
        </div>
        <div class="mb-3">
            <label for="message">Message</label>
            <textarea class="form-control" id="message" name="message" rows="3"></textarea>
        </div>
        
        <hr class="mb-4">
        <button class="btn btn-primary btn-lg btn-block" type="submit">Send</button>
        </form>
    </div>
    </div>

    <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2019 Anton "S7rizh" Antonov</p>
    <ul class="list-inline">
        <li class="list-inline-item"><a href="https://github.com/S7rizh">GitHub</a></li>
    </ul>
    </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script><script src="/docs/4.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
        <script src="form-validation.js"></script></body>
    </html>
